<body>
<h2>{{title}}  : Total {{authors.length}} Authors</h2>
<ul>
    <li *ngFor="let author of authors">
        <b>{{author}}</b>
    </li>
</ul>   
<img [src] = "imagePath"/>
<table>
    <tr>
        <td [attr.colspan] = "colSpan">Hello</td>
    </tr>
</table>
<div (click) = "onDivClicked()">
<button class="btn btn-primary" [class.active] = "isActive" (click) = "onClick($event)">Save</button>
</div>

<!--#email is template variable-->
<!-- <input #email (keyup.enter) = "onKeyUp(email.value)"/> --> 
<input [(ngModel)]="email" (keyup.enter) = "onKeyUp()"/>
<p>{{ text | summary:50}}</p>

</body>